@import "./responsive";

.container {
  margin: 0 auto;
  padding: 1px 1px;
  position: relative;
  width: 1200px;
  @include device(phone){
    max-width: 540px;
  }
  @include device(tablet){
    max-width: 768px;
  }
  @include device(large_dekstop){
  }
}

.btn {
  padding: 4px 10px;
}