@import "./responsive";

.container {
  height: 100%;
  margin: 0 auto;
  padding: 1px 1px;
  position: relative;
  width: 1200px;

  @include device(phone){
    max-width: 95%;
  }
  @include device(tablet){
    max-width: 90%;
  }
  @include device(large_dekstop){
    max-width: 90%;
  }
}

.btn {
  padding: 12px 16px;
  border: none;
}

// titles
.h1,
.h2,
.h3 {
	text-transform: capitalize;
}

.h1 {
  font-size: map-get($f-font-size,  "big");
}

.h2 {
  font-size: map-get($f-font-size,  "medium");
}

.h3 {
  font-size: map-get($f-font-size,  "small");
}

// links
a {
	text-decoration: none;
}

// img 
img {
  max-width: 100%;
  display: block;
  height: auto;
}

// form
label {
  font-weight: map-get($f-weight, "normal" );
}

textarea {
  border: none;
}

input {
  border: none;
}

// class
.bg-white {
  background-color: $c-white;
}

// card
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: .8rem;
  margin-top: .8rem;
  
  
  
}

.card_header {
  .card_img {
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}


.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .card_title {}
  .caerd_text {}
  .card_btn {
    // border: 1px solid $c-black;
    background-color: $c-blue;
    color: $c-white;
   
    // padding: 2px 8px;
  }
}
