.contacts {
  .contacts_container {
    display: flex;
    flex-direction: row;
    
    
  }
}

.contacts_branch {
  flex: 1 0 0;
}

.contacts_info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1 0 0;
  a {
    color: $c-black;
    font-weight: map-get($f-weight, "medium");
    margin-bottom: 0.5;
    margin-top: 0.5;
  }
}

.contacts_form {
  flex: 1 0 0;
  .form-input{
  
  }
  .form-text {}
  .form-btn {}
}