.contacts {
  background-color: $c-blue_light;
  padding: 1rem 0;
  .contacts_container {
    display: flex;
    flex-direction: row;
    @include device(phone){
      display: flex;
      flex-direction: column;
    }
    @include device(tablet){
      display: flex;
      flex-direction: column;
    }
  }
  @include device( desktops ){
    display: flex;
    flex-direction: column;
  }
}

.contacts_branch {
  flex: 1 1 0;
  @include device(phone){
    display: flex;
    justify-content: center;
  }
  @include device(tablet){
    display: flex;
    justify-content: center;
  }
}

.contacts_info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1 1 0;
  @include device(phone){
    text-align: center;
  }
  @include device(tablet){
    text-align: center;
  }
  a {
    color: $c-black;
    font-weight: map-get($f-weight, "medium");
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-transform: capitalize;
  }
}

.contacts_form {
  flex: 1 1 0;
  .form {
    display: flex;
    flex-direction: column;
  }
}

.form-input{
  padding: 1rem 0;
  display: flex;
}

.form-text {
  height: 82px;
  .textarea {
    width: 100%;
  }
}

  .form-bt {
    .btn {
      background-color: $c-blue;
      color: $c-white;
    }
  }