.header{
  background-color: $c-white;
  height: 115px;
  position: sticky;
  top: 0;
  transition: .4s linear;
  z-index: 1;
  @include device( phone ){
    height: 115px / 2;
  }
  @include device( tablet ){

  }
  .container_header {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}

.header_brand{
  .header_brand_img {}
}

.header_search{
  align-items: center;
  background-color: $c-light_gray;
  border: none;
	border-radius: 10px;
  display: flex;
  flex-grow: 0;
  height: 40px;
  width: 393px;;
  padding: 4px 10px;
  @include device( phone ){
    order: 3;
    background-color: $c-white;
    border: 1px solid $c-white;
  }
  .header_search_input {
    border: none;
		background-color: $c-light_gray;
    @include device( phone ){
      display: none;

    }
  }
}

.header_login{
  @include device(phone){
    order: 2;
  }
	.btn_login{
		background-color: $c-white;
		border: 1px solid $c-blue;
		color: $c-blue;
	}
}