.hero {
  background-image: url("../img/background_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  color: $c-white;
  height: 250px;
  .container_hero{
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  
}

.hero_header {
  margin-bottom: 1rem;
}

.hero_content {
  margin-bottom: 1rem;
}

.hero_footer {
  margin-bottom: 1rem;
  .hero_footer_btn{
    background-color: $c-blue;
    color: $c-white;
  }
}

