.products {
  
}

.product {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.product_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .products_header_btn {
    min-width: 119px;
  }
}

.products_cards {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  
}

.products_card {
  flex: 1 0 auto;
  width: 176px;
  padding-right: 0.5rem;
  .products_card_content{
    .h3 {
      font-weight: map-get($f-weight, "medium" );
    }
    p {
      font-weight: map-get($f-weight, "bold" );
    }
    a {
      font-weight: map-get($f-weight, "bold" );

    }
  }
  
}