@import "../reset";
@import "../variables";
@import "../responsive";
@import "../components";
@import "../header";
@import "../contacts";
@import "../footer";

.login{
  background-color: $c-gray;
  padding: 2rem 0;
}

.container_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_header {
  text-align: center;
  padding: 1em 0;
  width: 50%;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login_email {
  border: none;
  margin-bottom: 1em;
  padding: 1em 0;
}

.login_password {
  border: none;
  margin-bottom: 1em;
  padding: 1em 0;

}

.login_btn {
  background-color: $c-blue;
  color: $c-white;
  padding: 1em 0;

}