.add {
  

}

.add_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_header {
  width: 560px;
  height: auto;
}

.add_content {
  width: 560px;
  height: auto;
}

.add_form {
  
}