.add {
  background-color: $c-gray;

}

.add_container {
  align-items: center;
  background-color: $c-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add_header {
  width: 560px;
  height: auto;
}

.add_content {
  width: 560px;
  height: auto;
 
}

.add_form {
  
}