/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 1px 1px;
  position: relative;
  width: 1200px;
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 90%;
  }
}

.btn {
  padding: 4px 10px;
}

.h1,
.h2,
.h3 {
  text-transform: capitalize;
}

.h1 {
  font-size: 2.441rem;
}

.h2 {
  font-size: 1.953rem;
}

.h3 {
  font-size: 1.563rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background-color: #ffffff;
  height: 115px;
  position: sticky;
  top: 0;
  transition: 0.4s linear;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  .header {
    height: 115px/2;
  }
}
.header .container_header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header_search {
  padding: 4px 10px;
  background-color: #F5F5F5;
  border: 1px solid #000000;
  border-radius: 10px;
}
.header_search .header_search_input {
  border: none;
  background-color: #F5F5F5;
}

.header_login .btn_login {
  background-color: #ffffff;
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
}

.hero {
  background-image: url("../img/background_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  color: #ffffff;
  height: 250px;
}
.hero .container_hero {
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.hero_header {
  margin-bottom: 1rem;
}

.hero_content {
  margin-bottom: 1rem;
}

.hero_footer {
  margin-bottom: 1rem;
}
.hero_footer .hero_footer_btn {
  background-color: #2A7AE4;
  color: #ffffff;
}

.product_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.products_cards {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.products_card {
  flex: 1 0 auto;
  width: 176px;
  padding-right: 0.5rem;
}

body {
  color: #000000;
  background-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
