/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 1px 1px;
  position: relative;
  width: 1200px;
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 90%;
  }
}

.btn {
  padding: 12px 16px;
  border: none;
  color: #ffffff;
}

.h1,
.h2,
.h3 {
  text-transform: capitalize;
}

.h1 {
  font-size: 2.441rem;
}

.h2 {
  font-size: 1.953rem;
}

.h3 {
  font-size: 1.563rem;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

label {
  font-weight: 400;
}

textarea {
  border: none;
}

input {
  border: none;
}

.bg-white {
  background-color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}

.card_header .card_img {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_body .card_btn {
  background-color: #2A7AE4;
  color: #ffffff;
}
.card_body .card_link {
  background-color: #ffffff;
}

.mb-2 {
  margin-bottom: 16px;
}

.header {
  background-color: #ffffff;
  height: 115px;
  position: sticky;
  top: 0;
  transition: 0.4s linear;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  .header {
    height: 115px/2;
  }
}
.header .container_header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header_search {
  padding: 4px 10px;
  background-color: #F5F5F5;
  border: 1px solid #000000;
  border-radius: 10px;
}
@media screen and (max-width: 576px) {
  .header_search {
    order: 3;
    background-color: #ffffff;
    border: 1px solid #ffffff;
  }
}
.header_search .header_search_input {
  border: none;
  background-color: #F5F5F5;
}
@media screen and (max-width: 576px) {
  .header_search .header_search_input {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header_login {
    order: 2;
  }
}
.header_login .btn_login {
  background-color: #ffffff;
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
}

.hero {
  background-image: url("../img/background_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  color: #ffffff;
  height: 250px;
}
.hero .container_hero {
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.hero_header {
  margin-bottom: 1rem;
}

.hero_content {
  margin-bottom: 1rem;
}

.hero_footer {
  margin-bottom: 1rem;
}
.hero_footer .hero_footer_btn {
  background-color: #2A7AE4;
  color: #ffffff;
}

.product {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.product_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product_header .card_link {
  min-width: 119px;
}

.products_cards {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.products_card {
  flex: 1 0 auto;
  width: 176px;
  padding-right: 0.5rem;
}
.products_card .products_card_content .h3 {
  font-weight: 500;
}
.products_card .products_card_content p {
  font-weight: 700;
}
.products_card .products_card_content a {
  font-weight: 700;
}

.contacts {
  background-color: #EAF2FD;
  padding: 1rem 0;
}
.contacts .contacts_container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  .contacts .contacts_container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .contacts .contacts_container {
    display: flex;
    flex-direction: column;
  }
}

.contacts_branch {
  flex: 1 0 0;
}
@media screen and (max-width: 576px) {
  .contacts_branch {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .contacts_branch {
    display: flex;
    justify-content: center;
  }
}

.contacts_info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1 0 0;
}
@media screen and (max-width: 576px) {
  .contacts_info {
    text-align: center;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .contacts_info {
    text-align: center;
  }
}
.contacts_info a {
  color: #000000;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
}

.contacts_form {
  flex: 1 0 0;
}
.contacts_form .form {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 1rem 0;
  display: flex;
}

.form-text {
  height: 82px;
}
.form-text .textarea {
  width: 100%;
}

.form-bt .btn {
  background-color: #2A7AE4;
  color: #ffffff;
}

.footer_container {
  text-align: center;
  padding: 1rem 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 1px 1px;
  position: relative;
  width: 1200px;
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 90%;
  }
}

.btn {
  padding: 12px 16px;
  border: none;
  color: #ffffff;
}

.h1,
.h2,
.h3 {
  text-transform: capitalize;
}

.h1 {
  font-size: 2.441rem;
}

.h2 {
  font-size: 1.953rem;
}

.h3 {
  font-size: 1.563rem;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

label {
  font-weight: 400;
}

textarea {
  border: none;
}

input {
  border: none;
}

.bg-white {
  background-color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}

.card_header .card_img {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_body .card_btn {
  background-color: #2A7AE4;
  color: #ffffff;
}
.card_body .card_link {
  background-color: #ffffff;
}

.mb-2 {
  margin-bottom: 16px;
}

.header {
  background-color: #ffffff;
  height: 115px;
  position: sticky;
  top: 0;
  transition: 0.4s linear;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  .header {
    height: 115px/2;
  }
}
.header .container_header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header_search {
  padding: 4px 10px;
  background-color: #F5F5F5;
  border: 1px solid #000000;
  border-radius: 10px;
}
@media screen and (max-width: 576px) {
  .header_search {
    order: 3;
    background-color: #ffffff;
    border: 1px solid #ffffff;
  }
}
.header_search .header_search_input {
  border: none;
  background-color: #F5F5F5;
}
@media screen and (max-width: 576px) {
  .header_search .header_search_input {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header_login {
    order: 2;
  }
}
.header_login .btn_login {
  background-color: #ffffff;
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
}

.contacts {
  background-color: #EAF2FD;
  padding: 1rem 0;
}
.contacts .contacts_container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  .contacts .contacts_container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .contacts .contacts_container {
    display: flex;
    flex-direction: column;
  }
}

.contacts_branch {
  flex: 1 0 0;
}
@media screen and (max-width: 576px) {
  .contacts_branch {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .contacts_branch {
    display: flex;
    justify-content: center;
  }
}

.contacts_info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1 0 0;
}
@media screen and (max-width: 576px) {
  .contacts_info {
    text-align: center;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .contacts_info {
    text-align: center;
  }
}
.contacts_info a {
  color: #000000;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
}

.contacts_form {
  flex: 1 0 0;
}
.contacts_form .form {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 1rem 0;
  display: flex;
}

.form-text {
  height: 82px;
}
.form-text .textarea {
  width: 100%;
}

.form-bt .btn {
  background-color: #2A7AE4;
  color: #ffffff;
}

.footer_container {
  text-align: center;
  padding: 1rem 0;
}

.login {
  background-color: #E5E5E5;
  padding: 2rem 0;
}

.container_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_header {
  text-align: center;
  padding: 1em 0;
  width: 50%;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login_email {
  border: none;
  margin-bottom: 1em;
  padding: 1em 0;
}

.login_password {
  border: none;
  margin-bottom: 1em;
  padding: 1em 0;
}

.login_btn {
  background-color: #2A7AE4;
  color: #ffffff;
  padding: 1em 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 1px 1px;
  position: relative;
  width: 1200px;
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 90%;
  }
}

.btn {
  padding: 12px 16px;
  border: none;
  color: #ffffff;
}

.h1,
.h2,
.h3 {
  text-transform: capitalize;
}

.h1 {
  font-size: 2.441rem;
}

.h2 {
  font-size: 1.953rem;
}

.h3 {
  font-size: 1.563rem;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

label {
  font-weight: 400;
}

textarea {
  border: none;
}

input {
  border: none;
}

.bg-white {
  background-color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
}

.card_header .card_img {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_body .card_btn {
  background-color: #2A7AE4;
  color: #ffffff;
}
.card_body .card_link {
  background-color: #ffffff;
}

.mb-2 {
  margin-bottom: 16px;
}

.header {
  background-color: #ffffff;
  height: 115px;
  position: sticky;
  top: 0;
  transition: 0.4s linear;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  .header {
    height: 115px/2;
  }
}
.header .container_header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header_search {
  padding: 4px 10px;
  background-color: #F5F5F5;
  border: 1px solid #000000;
  border-radius: 10px;
}
@media screen and (max-width: 576px) {
  .header_search {
    order: 3;
    background-color: #ffffff;
    border: 1px solid #ffffff;
  }
}
.header_search .header_search_input {
  border: none;
  background-color: #F5F5F5;
}
@media screen and (max-width: 576px) {
  .header_search .header_search_input {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header_login {
    order: 2;
  }
}
.header_login .btn_login {
  background-color: #ffffff;
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
}

.contacts {
  background-color: #EAF2FD;
  padding: 1rem 0;
}
.contacts .contacts_container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  .contacts .contacts_container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .contacts .contacts_container {
    display: flex;
    flex-direction: column;
  }
}

.contacts_branch {
  flex: 1 0 0;
}
@media screen and (max-width: 576px) {
  .contacts_branch {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .contacts_branch {
    display: flex;
    justify-content: center;
  }
}

.contacts_info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1 0 0;
}
@media screen and (max-width: 576px) {
  .contacts_info {
    text-align: center;
  }
}
@media screen and (min-width: 578px) and (max-width: 768px) {
  .contacts_info {
    text-align: center;
  }
}
.contacts_info a {
  color: #000000;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
}

.contacts_form {
  flex: 1 0 0;
}
.contacts_form .form {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 1rem 0;
  display: flex;
}

.form-text {
  height: 82px;
}
.form-text .textarea {
  width: 100%;
}

.form-bt .btn {
  background-color: #2A7AE4;
  color: #ffffff;
}

.footer_container {
  text-align: center;
  padding: 1rem 0;
}

.products {
  background-color: #E5E5E5;
}

.products_header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2em;
}
@media screen and (max-width: 576px) {
  .products_header {
    flex-direction: column;
  }
}
.products_header .products_header_btn {
  background-color: #2A7AE4;
  color: #ffffff;
}

.products_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .products_content {
    justify-content: center;
  }
}
body {
  color: #000000;
  background-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
